.flash
  %span=flash[:notice]
  %span=flash[:params]
%strong Vote Index
%form{:method => 'POST'} 
  %input{:name => 'photo_1', :id => 'photo_id_1', :type => 'hidden', :value => '112321'}
  %input{:name => 'photo_2', :id => 'photo_id_2', :type => 'hidden', :value => '43553'}
  %input{:name => 'photo_id_vote', :id => 'btn_1', :type => 'image', :src => 'test', :value => "a#{@photo1Id}"}
    .vote_label
      %label{:for => 'btn_1'} Vote for this Photo
  %input{:name => 'photo_id_vote', :id => 'btn_2', :type => 'image', :src => 'test', :value => "b#{@photo2Id}"}
    .vote_label
      %label{:for => 'btn_2'} Vote for this Photo
